
.Content
  %h1.mainMessage.animate &nbsp; きっと見つかる、あなたの行きたい　
  %p.subMessage.animate Favo Map
  .grid-6
    .leftBtn
      = link_to "SIGN IN", new_user_session_path, class: "Btn Login UserButton"
    .rightBtn
      = link_to "SIGN UP", new_user_registration_path, class: "Btn Signup"
  %footer
    %p.copyright
      Copyright RecommendedPlace 2020.
:javascript
  $(function(){
    $('.animate, .Btn').textillate({

      // ループのオンオフ、falseの場合、outは発動しない
      loop: false,

      // テキストが置き換えられるまでの表示時間
      minDisplayTime: 1000,

      // 遅延時間
      initialDelay: 0,

      // アニメーションが自動的にスタートするかどうか
      autoStart: true,

      // フェードインのエフェクトの詳細設定
      in: {
        // エフェクトの名前（animate.cssをご参照下さい）
        effect: 'fadeInDown',

        // 遅延時間の指数
        delayScale: 2.0,

        // 文字ごとの遅延時間
        delay: 50,

        // trueにすることでアニメーションをすべての文字に同時に適用される
        sync: false,

        // trueにすることで文字を順番にではなく、ランダムに入ってくるようにする
        // (注：syncがtrueの場合は無効になる)
        shuffle: false
      }

      
      
    });
  })